*{
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

/* .debug{
  border: 1px dashed black;
} */

:root{
  --laravel-red: #FF2D20;
}

ul, li{
  list-style: none;
  display: inline;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: var(--laravel-red);
  font-size: 1.2rem;
  font-weight: 600;
}

.container-xl{
  width: 90%;
  margin: 0 auto;
}
.row{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[class^="col"] {
  :nth-child(1){
    margin-bottom: 0.5rem;
  }
  :nth-child(2){
    width: 80%;
  }
}
.col-4{
  width: calc((100% / 12) * 4);
}
.col-6{
  width: calc((100% / 12) * 6);
} 
.col-8{
  width: calc((100% / 12) * 8);
} 

.btn{
  margin-top: 1.5rem;
  a{
    border: 1px solid;
    padding: 0.5rem;
  }
}
.btn2{
  margin-top: 1.5rem;
  color:white;
  a{
    background-color: var(--laravel-red);
    border: 1px solid;
    padding: 0.5rem;
  }
}

/* partials */
#my_navbar{
  width:100%;
  margin-bottom: 2rem;

  #nav_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #my_btn{
    border: 1px solid;
    padding: 0.5rem;
  }
}

#layout_dump{
  margin-top: 2rem;
  margin-bottom: 2rem;
  #layout_align{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* pages */
#my_content{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;

  > * {
    margin-bottom: 1rem;
  }
  :nth-child(1){
    color: var(--laravel-red);
  }
  :nth-child(2){
    width: 50%;
    margin: 0 auto;
  }
}